@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;900&display=swap');

:root {
  /* PRIMARY COLORS */
  --Lightred: hsl(0, 100%, 67%);
  --Orangey-yellow: hsl(39, 100%, 56%);
  --Green-teal: hsl(166, 100%, 37%);
  --Cobalt-blue: hsl(234, 85%, 45%);

  /* GRADIENT COLOR */
  --Light-slate-blue: hsl(252, 100%, 67%);
  --Light-royal-blue: hsl(241, 81%, 54%);
  --Violet-blue: hsla(256, 72%, 46%, 1);
  --Persian-blue: hsla(241, 72%, 46%, 0);

  /* NEUTRAL COLOR */
  --White: hsl(0, 0%, 100%);
  --Pale-blue: hsl(221, 100%, 96%);
  --Light-lavender: hsl(241, 100%, 89%);
  --Dark-gray-blue: hsl(224, 30%, 27%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 375px;
  margin: auto;
  font-family: 'Hanken Grotesk';
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.summary {
  background-color: var(--Light-royal-blue);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}

.summary h3 {
  padding: 1rem 0;
  color: var(--Light-lavender);
}

.score {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  background: linear-gradient(var(--Violet-blue), var(--Light-royal-blue));
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
}

.score h1 {
  color: var(--White);
  font-size: 2.5rem;
}

.score span {
  color: var(--Light-lavender);
  font-size: 14px;
}

h4 {
  color: var(--White)
}