@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;900&display=swap');

:root {
  /* PRIMARY COLORS */
  --Lightred: hsl(0, 100%, 67%);
  --Orangey-yellow: hsl(39, 100%, 56%);
  --Green-teal: hsl(166, 100%, 37%);
  --Cobalt-blue: hsl(234, 85%, 45%);

  /* GRADIENT COLOR */
  --Light-slate-blue: hsl(252, 100%, 67%);
  --Light-royal-blue: hsl(241, 81%, 54%);
  --Violet-blue: hsla(256, 72%, 46%, 1);
  --Persian-blue: hsl(241, 72%, 46%, );

  /* NEUTRAL COLOR */
  --White: hsl(0, 0%, 100%);
  --Pale-blue: hsl(221, 100%, 96%);
  --Light-lavender: hsl(241, 100%, 89%);
  --Dark-gray-blue: hsl(224, 30%, 27%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 50%;
  margin: 100px auto;
  font-family: 'Hanken Grotesk', sans-serif;
}

main {
  width: 100%;
  display: flex;
  flex-direction: row;
  box-shadow: 2px 2px 10px var(--Pale-blue);
  border-radius: 25px;
}

.summary {
  width: 50%;
  background-color: var(--Light-royal-blue);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 2.5rem 2rem;
  border-radius: 25px;
}

.summary h3 {
  padding: 1rem 0;
  color: var(--Light-lavender);
  font-size: 1.2rem;
}

.score {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  background: linear-gradient(var(--Violet-blue), var(--Light-royal-blue));
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  justify-content: center;
}

.score h1 {
  color: var(--White);
  font-size: 2.5rem;
}

.score span {
  color: var(--Light-lavender);
  font-size: 14px;
}

h4 {
  color: var(--White);
  font-size: 1.5rem;
  margin: 10px 0;
}

h4~p {
  color: var(--Light-lavender);
  text-align: center;
  font-size: 1.1rem;
  padding-bottom: 10px;
}

.result {
  width: 50%;
  padding: 2.5rem 2rem;
  overflow: hidden;
}

.result h2 {
  color: var(--Dark-gray-blue);
  font-size: 1.2rem;
  padding: 1rem 0;
}

ul {
  list-style: none;
}

.mark {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 50px;
  border-radius: 10px;
  padding: 10px;
  margin: 10px 0;
}

.mark:first-of-type {
  color: var(--Lightred);
  background-color: hsla(0, 100%, 67%, 0.05);

}

.mark:nth-of-type(2) {
  color: var(--Orangey-yellow);
  background-color: hsla(39, 100%, 56%, 0.05);
}

.mark:nth-of-type(3) {
  color: var(--Green-teal);
  background-color: hsla(166, 100%, 37%, 0.05);
}

.mark:last-of-type {
  color: var(--Cobalt-blue);
  background-color: hsla(234, 85%, 45%, 0.05);
}

.mark img {
  width: 20px;
}

.mark div {
  display: flex;
}

.head {
  font-weight: bold;
  margin-left: 10px;
}

.mark>p {
  color: var(--Dark-gray-blue);
  font-weight: 900;
}

.mark>p span {
  font-weight: 600;
  color: hsla(224, 30%, 27%, 0.562);
}

.btn-continue {
  margin: 10px 0;
  width: 100%;
  padding: 0.8rem;
  font-family: 'Hanken Grotesk', sans-serif;
  font-size: 1rem;
  background-color: var(--Dark-gray-blue);
  border-radius: 25px;
  border: none;
  cursor: pointer;
  color: var(--White);
}

.btn-continue:hover {
  background: linear-gradient(var(--Light-slate-blue), var(--Light-royal-blue));
}

footer {
  text-align: center;
  padding: 5rem 0;
  font-size: 1.1rem;
}

footer a {
  color: var(--Persian-blue);
  font-weight: bold;
  text-decoration: none;
}

footer a:hover {
  color: var(--Green-teal);
}

@media (max-width: 940px) {
  body {
    display: grid;
    width: 100%;
    padding: 0;
    margin: 0;
  }

  main {
    flex-direction: column;
    margin: 0 auto;
  }

  .summary,
  .result {
    width: 100%;
  }

  .summary {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
  }

  footer {
    padding-bottom: 0;
  }
}